.app-page{
    // background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgb(83, 91, 235),rgb(76, 11, 174));
    background-image: radial-gradient(circle at 29% 55%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 4%,transparent 4%, transparent 44%,transparent 44%, transparent 100%),radial-gradient(circle at 85% 89%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 52%,transparent 52%, transparent 100%),radial-gradient(circle at 6% 90%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 53%,transparent 53%, transparent 64%,transparent 64%, transparent 100%),radial-gradient(circle at 35% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 6%,transparent 6%, transparent 98%,transparent 98%, transparent 100%),radial-gradient(circle at 56% 75%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 16%,transparent 16%, transparent 23%,transparent 23%, transparent 100%),radial-gradient(circle at 42% 0%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 3%,transparent 3%, transparent 26%,transparent 26%, transparent 100%),radial-gradient(circle at 29% 28%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 51%,transparent 51%, transparent 75%,transparent 75%, transparent 100%),radial-gradient(circle at 77% 21%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 35%,transparent 35%, transparent 55%,transparent 55%, transparent 100%),radial-gradient(circle at 65% 91%, hsla(329,0%,99%,0.05) 0%, hsla(329,0%,99%,0.05) 46%,transparent 46%, transparent 76%,transparent 76%, transparent 100%),linear-gradient(45deg, rgb(7, 7, 7),rgb(4, 0, 9));
    min-height:85vh;
    padding:20px;
    color:#DDDDDD;
    font-family:verdana;
}
.game-page-container{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: white;
    height: calc(85vh - 100px);
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px white;
    margin: 50px;
}


.create-game-container{
    flex: 50%;
    background-color: #E76E55;
    border-right: 5px solid black;
    display: inline-flex;
    align-items: center;
    justify-content: center;  
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.join-game-container{
    flex: 50%;

}
.list-games-header{
    height: 40px;
    background-color: #92CD41;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    text-shadow: #8C2022 2px 2px;
    border-top-right-radius: 20px;
    font-size: 40px;
    text-align: center;
    width: 100%;
    padding-top: 10px;
    ;

}
.list-games-container{
    background-color: #E59400;
    height: calc(100% - 50px);
    border-bottom-right-radius: 15px;
    width: 100%;
    overflow-y: auto;
}

.scrollbar {
    overflow-y: auto;
}

#scrollbar1::-webkit-scrollbar {
    width: 10px;
}

#scrollbar1::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #E59400;
}

#scrollbar1::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #8f1717;
}

.games-list{
    height: 80px; 
    border-bottom: 4px dashed black; 
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: black;
    text-align: center;
}
.game-list-text{
    font-weight: bolder;
    align-content: center;
}
$outline-width: 6px;
$shadow-width: 4px;

$button-background: #92CD41;
$sec-button-background: #76c442;
$shadow-color:  #4AA52E;

$alt-button-background: #F7D51D;
$alt-sec-button-background: #F2C409;
$alt-shadow-color:  #E59400;

$reset-button-background: #E76E55;
$reset-sec-button-background: #CE372B;
$reset-shadow-color:  #8C2022;
@font-face { 
    font-family: gameFont; src: url("http://www.dafont.com/silkscreen.font");
    }
.eightbit-btn {
    font-family: 'Courier New', Courier, monospace;
    
    background: $button-background;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 36px;
    padding: 20px;
    text-shadow: red 2px 2px;
    text-decoration: none; 
    color: black;
    box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $shadow-color;

    &:hover,
    &:focus {
        background: $sec-button-background;
        box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $shadow-color;
    }

    &:active {
        box-shadow: inset $shadow-width $shadow-width 0px 0px $shadow-color;
    }

    &:before,
    &:after {
    content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        box-sizing: content-box;
    }

    &:before {
        top: -$outline-width;
        left: 0;
        border-top: $outline-width black solid;
        border-bottom: $outline-width black solid;
    }

    &:after {
        left: -$outline-width;
        top: 0;
        border-left: $outline-width black solid;
        border-right: $outline-width black solid;
    }

    &--reset {
        background: $reset-button-background;
        font-size: 20px;
        padding: 1px;
        box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $reset-shadow-color;  
        margin: 10px;
        width:100px;
        align-content: center;
        font-weight: 700;
        text-shadow: #F7D51D;

        &:hover,
        &:focus {
            background: $reset-sec-button-background;
            box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $reset-shadow-color;
        }

        &:active {
            box-shadow: inset $shadow-width $shadow-width 0px 0px $reset-shadow-color;
        }

    }

    &--proceed {
        background: $alt-button-background;
        box-shadow: inset (-$shadow-width) (-$shadow-width) 0px 0px $alt-shadow-color;

        &:hover,
        &:focus {
            background: $alt-sec-button-background;
            box-shadow: inset (-$shadow-width*1.5) (-$shadow-width*1.5) 0px 0px $alt-shadow-color;
        }

        &:active {
            box-shadow: inset $shadow-width $shadow-width 0px 0px $alt-shadow-color;
        }

    }
}
