<div class="create-game-dialog-container">
<div mat-dialog-title class="dialog-title"> Create Game</div>

<mat-dialog-content class="mat-typography" [formGroup]="createGameForm">
  <div class="formDiv">
    <mat-form-field class="example-full-width">
        <mat-label>Room name</mat-label>
        <input matInput formControlName="gameName" placeholder="Enter Game Name">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Number of players</mat-label>
        <input matInput placeholder="10" formControlName="numOfPlayers" >
    </mat-form-field>
    <mat-form-field class="example-full-width">
        <mat-label>Starting amount</mat-label>
        <input matInput placeholder="200" formControlName="startingAmount" >
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="dialog-button">Cancel</button>
  <button mat-button class="dialog-button" (click)="createGame1()" cdkFocusInitial>Create</button>
</mat-dialog-actions>
</div>